<app-menunegro></app-menunegro>
<app-navbar></app-navbar>
<app-submenu></app-submenu>
<app-banner></app-banner>
<app-categoria></app-categoria>
<router-outlet></router-outlet>
<app-marcas></app-marcas>