<div class="container-fluid d-block d-sm-none style-perro-gato">
  <div class="row">
    <div class="col">
     <div class="card">
       <div class="card-body text-center style-color-perro style-padding">
         <span>Perro</span><span> <img width="30px" src="assets/img/perro.png" > </span> 
       </div>
     </div>
    </div>
    <div class="col">
     <div class="card">
       <div class="card-body text-center style-padding">
        <span>Gato</span><span> <img width="30px" src="assets/img/gato.png" > </span> 
       </div>
     </div>
   </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a class="nav-link" href="#"><span class="style-laika-color" >LAIKA</span> <span class="member">Member</span> <br><span class="adquierelo-style adquierelo-color adquierelo-border">Adquiérelo Ya</span> </a>
    </div>
  </div>
 </div>
<div class="container-fluid d-none d-sm-block d-sm-none d-md-block">
    <ul class="nav justify-content-center submenu-color">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> <img width="20px" src="assets/img/perro.png">Compra para perro</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/alimento.png"> Alimento</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/snacks.png"> Snacks</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/farmapet.png"> Farmapet</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/higiene.png"> Higiene</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/juguetes.png"> Jugetes</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/accesorios.png"> Accesrios</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/petlover.png"> PetLovers</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img width="22px" src="assets/img/gato.png">Compra para gato</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/alimento.png"> Alimento</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/snacks.png"> Snacks</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/farmapet.png"> Farmapet</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/higiene.png"> Higiene</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/juguetes.png"> Jugetes</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/accesorios.png"> Accesrios</a></li>
              <li><a class="dropdown-item" href="/productos"><img width="28px" src="assets/img/petlover.png"> PetLovers</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Oferta</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><img width="20px" src="assets/img/perro.png"> Perro</a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="assets/img/gato.png"> Gato</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Servicios</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><img width="20px" src="assets/img/perro.png"> Perro</a></li>
              <li><a class="dropdown-item" href="#"> <img width="20px" src="assets/img/gato.png"> Gato</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>LAIKA</span> <span class="member">Member</span> <span class="adquierelo-style adquierelo-color adquierelo-border">Adquiérelo Ya</span> </a>
          </li>
      </ul>
</div>