.submenu{
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}
.submenu-color > li > a{
    font-weight: bold;
    color: #603E85 !important; 
}
.style-laika-color{
    font-weight: bold;
    color: #603E85 !important; 
}
.member{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    color: #f39c12 !important;
}
.adquierelo-style{
    color: #000;
    text-transform: uppercase;
    padding: 5px;
}
.adquierelo-color{
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
}
.adquierelo-border{
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
}
.nav{
    -webkit-box-shadow: 0px 2px 2px 0px rgba(207,207,207,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(207,207,207,1);
    box-shadow: 0px 2px 2px 0px rgba(207,207,207,1);
}
.style-perro-gato{
    margin-top: 1rem;
}
.style-color-perro{
    color: #FFF;
    background-color: #603E85;
}
.style-padding > span{
    padding: 10px;
}