<div id="categoria">
    <div class="container">
        <div class="categoria-titulo-style">
            <h2>Categoría</h2>
        </div>
        <div class="container-sm" >
            <div class="row justify-content-center color-style">
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                            <img width="36px" src="assets/img/alimento.png"> Alimento
                            </div>
                         </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="40px" src="assets/img/snacks.png"> Snacks
                            </div>
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="36px" src="assets/img/farmapet.png"> Farmapet
                            </div>
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="25px" src="assets/img/higiene.png"> Higiene
                            </div>
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="28px" src="assets/img/juguetes.png"> Juguetes
                            </div>
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="28px" src="assets/img/accesorios.png"> Accesorios
                            </div>
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <a href="/productos">
                            <div class="card-body text-center">
                                <img width="28px" src="assets/img/petlover.png"> PetLovers
                            </div>
                        </a>
                      </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

