#categoria{
    h2{
        color:#603E85;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .categoria-titulo-style{
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .color-style{
        font-weight: bold;
        color:#3C2753;
    }
    .style-padding-categria{
        padding: 2rem;
    }
    a:link, a:visited, a:active{
        color:#3C2753;
        text-decoration:none;
    }
    
}