<div id="menunegro" class="d-none d-sm-block d-sm-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5  align-self-start menunegropadding">
                    <span> <img width="16px" src="assets/img/proteger.png" > Compras seguro online |</span>
                    <span> <img width="16px" src="assets/img/pay.png" > Pago contra entrega |</span>
                    <span> <img width="16px" src="assets/img/fast-delivery.png" > Entrega el mismo día |</span>
                </div>

                <div class="col-md-3 text-center">
                    <span>Llamanos | </span><span class="style-telefono" ><a href="tel:3009108496">3009108496</a></span>
                </div>
                <div class="col-md-3 text-center style-padding-social">
                    <span>Escríbenos | </span>
                    <span><i class="bi bi-instagram"></i></span>
                    <span><i class="bi bi-youtube"></i></span>
                    <span><i class="bi bi-facebook"></i></span>
                </div>

              </div>
        </div>
</div>