#menunegro{
    font-size: 12px;
    padding: 0px;
    background-color: #000;
    color: #FFF;
    .menunegropadding > span{
        padding-right: 10px;
    }
    .style-telefono a{
        color:#FFF;
        text-decoration: none;
    }
    .style-padding-social span{
        padding-left: 10px;
    }
}