#productos{
    margin-top: 2rem;
    h2{
        color:#603E85;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .btn-laika {
        color: #fff;
        background-color: #603E85;
        border-color: #603E85;
    }
    .li-style li{
        list-style:none;
    }
    ol, ul {
        padding-left: 0rem;
    }
    .style-laika-color{
        font-size: 12px;
        font-weight: bold;
        color: #603E85 !important; 
    }
    .member{
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 500;
        color: #f39c12 !important;
    }
    .adquierelo-style{
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
        padding: 5px;
    }
    .adquierelo-color{
        background: rgba(241,231,103,1);
        background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
        background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
    }
    .adquierelo-border{
        border-radius: 9px 9px 9px 9px;
        -moz-border-radius: 9px 9px 9px 9px;
        -webkit-border-radius: 9px 9px 9px 9px;
        border: 0px solid #000000;
    }
    .style-padding{
        padding: 10px;
    }
    .style-gramos{
        font-size: 15px;
        color:#FFF;
        background-color: #603E85;
        width: 70px;
        padding: 10px;
    }
    .style-paquete-container{
        padding-top: 18px;
        padding-bottom: 15px;
    }
    .btn-outline-primary {
        color: #603E85;
        border-color: #603E85;
    }


}

#estrellas{
    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
      input[type="radio"] {
        display: none;
      }
      
      label {
        color: grey;
      }
      
      .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
      }
      
      label:hover,
      label:hover ~ label {
        color: orange;
      }
      
      input[type="radio"]:checked ~ label {
        color: orange;
      }
      
}


@media (max-width: 414px) {
   #productos{
       margin-left: 50px;
   }
}

  