<div class="container">
    <div id="productos">
      <h2>Productos para perros</h2>
      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" *ngFor="let producto of productos">
            <!--CARD-->
            <div class="card" style="width: 17rem;">
              <img width="100%" src="{{producto.imagen}}" class="card-img-top" alt="{{ producto.nombre }}">
              <div class="card-body">
                <h5 class="card-title" style="height: 50px;">{{ producto.nombre }}</h5>
                <div class="card-text li-style">
                  <div class="row">
                    <div class="col-md-6">
                      <ul>
                        <li>
                          <div id="estrellas">
                              <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                              </p>
                          </div>
                        </li>
                        <li>{{ producto.precio | currency }}</li>
                        <div *ngIf="producto.precio_oferta == 1">
                          <li class="text-danger" >{{ producto.oferta | currency }}</li>
                        </div>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <span class="style-laika-color">LAIKA</span><span class="member">Member</span><br>
                      <span class="adquierelo-style adquierelo-color adquierelo-border">ADQUIERELO YA</span>
                    </div>
                    <div class="row">
                      <div class="col-md-4 style-padding" *ngIf="producto.peso_bool == 1">
                         <div class="style-gramos">
                            {{producto.peso}}
                         </div>
                      </div>
                    </div>
                    <div class="row text-center" *ngIf="producto.paquete_bool == 1">
                      <div class="col style-paquete-container" *ngIf="producto.grande_bool == 1">
                        <span><button type="button" class="btn btn-outline-primary">Grande</button></span>
                      </div>
                      <div class="col style-paquete-container" *ngIf="producto.mediano_bool == 1">
                        <span><button type="button" class="btn btn-outline-primary">Mediano</button></span>
                      </div>
                  </div>
                  <div class="d-grid gap-2">
                    <a href="#" class="btn btn-laika"><i class="bi bi-cart2"></i> Añadir al carrito</a>
                  </div>
                </div>
              </div>
            </div>
            <!--CARD-->
        </div>
      </div>  
    </div>
</div>