<nav class="navbar navbar-expand-lg navbar-dark bg-laika">
    <div class="container">
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="https://laika.com.co/assets/home/LaikaMascotas.svg">
            <img src="https://laika.com.co/assets/home/LaikaMascotas.svg" alt="Logo Laika" width="32" height="32">
          </a>
        </div>
      </nav>
   <!--  <div class="logo-laika">
      <a href="https://laika.com.co/city/bog/dog"><img data-src="https://laika.com.co/assets/home/LaikaMascotas.svg" class="img_laika_navbar lazy" src="https://laika.com.co/assets/home/LaikaMascotas.svg"></a>
    </div> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="d-flex">
              <input class="form-control form-control-sm" type="search" placeholder="Encuentra lo mejor para tu mascota." aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img width="32px" src="assets/img/colombia.png"> BOG
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><img width="32px" src="assets/img/colombia.png"> MED</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
          <div class="row">
            <div class="col-md-12 text-light navbar-padding-cuenta"> 
                <span><img width="32px" src="assets/img/cuenta.png"> Mi Cuenta</span>
                <span><img width="32px" src="assets/img/carrito.png"></span>
            </div>
          </div>
      </form>
    </div>
</div>
</nav>