.bg-laika {
    --bs-bg-opacity: 1;
    background-color: #603E85 !important;
}
.navbar-padding-cuenta > span{
    padding-right: 10px;
}

.dropdown-menu {
    background-color: #A55EEA !important;
}
.dropdown-item:hover {
    background-color: #8854d0 !important;
}