#marcas{
    h2{
        color:#603E85;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .marcas-titulo-style{
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .marcas-circulo {
        width: 100px;
        height: 100px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #FFF;
   }
   .marcas-circulo-shadow{
    -webkit-box-shadow: 0px 3px 5px 0px rgba(214,197,214,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(214,197,214,1);
    box-shadow: 0px 3px 5px 0px rgba(214,197,214,1);
   }
   .marcas-logo{
       margin-left: 5px;
   }

}