<div id="marcas">
    <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1">sdss</div>
          <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 2"></div>
          <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 3"></div>
          <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 4"></div>
          <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 5"></div>
          <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 6"></div>
        </div>
      
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
    <div class="container">
         <div class="marcas-titulo-style">
            <h2>Marcas Destacadas</h2>
         </div>
         <div class="row">
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
             <div class="col">
                <div class="marcas-circulo marcas-circulo-shadow">
                    <div class="marcas-logo">
                        <img width="95px" src="assets/img/marcas/dog-chow.svg">
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>